@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* 
{
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 5, 124);
    background-color: #aabd01;
background-image: linear-gradient(315deg, #070706 0%, #c1ce0b 100%);
display: flex;
align-items: center;
justify-content: center;   
font-family: "Poppins", sans-serif ;
    margin: 0 ;
    min-height: 100vh;

}
.quiz-container{
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 10;
    box-shadow: 0 0 10px 2px rgb(100, 100, 100,0.1);
    overflow: hidden;
    width: 600px ;
    max-width: 100%;
}
.quiz-header{
    padding: 4rem;
}
h2{
    margin: 0;
}
 ul{
     list-style-type: none;
     padding: 0;
 }
 ul li {
     font-size: 1.2rem;
     margin: 1rem 0;
 }
 ul li label{
     cursor: pointer;
 }
 button{
     background-color: black;
     border: none ;
     color: rgb(5, 112, 37);
     cursor: pointer;
     display: block;
    
font-family: inherit;
font-size: 1.3rem;
padding: 1.3rem;
     width: 100% ;
 }
 button:hover{
     background-color: rgb(5, 5, 116);
 }